body {
    background-color: #cbc9c9;
    font-size: 16px;
}



/* Start Login Admin */
.login-admin {
    width: 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.login-admin input {
    background-color: #c1bebe;
}

.login-admin input[type="submit"] {
    background-color: #008dde !important;
    color: white;
}

.login-admin input[type="text"]:focus::placeholder,
.login-admin input[type="text"]:active::placeholder {
    color: transparent;
}

/* End Login Admin */
/* Start Bootstrap Edit  */
/* Start Navbar  */
.navbar {
    font-size: 1em;
}

.navbar .navbar-brand {
    font-size: 1em;
}

.navbar a.nav-link {
    padding: 10px !important;
    transition: .3s;
}

.navbar a.nav-link:hover {
    padding: 10px 10px 8px 10px !important;
    border-bottom: red 2px solid;
    color: red;

}

.dropdown-menu {
    left: -18px !important;
    min-width: 11em;

    ul>li {
        width: 100%;
        padding: 50px;
    }
}

.dropdown-menu li:hover {
    background-color: rgb(22, 22, 22);
}


.navbar .dropdown-item {
    padding: 10px 12px;

    &:hover,
    &:focus {
        color: red;
        background-color: rgb(22, 22, 22);
        border-bottom: red 2px solid;
    }
}

ul>li>a.dropdown-item {
    font-size: 1em;
    color: rgb(255, 255, 255);
}

ul>li>a.dropdown-item:hover,
ul>li>a.dropdown-item:active {
    width: max-content;
}





/* End Navbar  */
/* Start members  */

h1.titre-page,
h1 /* Supprimer */ 
{
    font-size: 50px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.form-control[required] {
    position: relative;
}

span.my-etoile {
    color: red;
    position: absolute;
    right: 20px;
    top: 13px;
    font-size: 28px;
}
/* Add members */
.password .password-show {
    position: absolute;
    font-size: 27px;
    top: 16px;
    right: -30px;
    cursor:pointer;
}

/**Manage Members**/
.manage   table  tr:first-child > td{
    background-color: black !important;
    color: white !important;
padding:13px  4px !important;

} 
.manage table tr td {
vertical-align: middle;
padding:4px ;

}
.manage table tr td .btn {
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.manage table   {
    box-shadow: 0 3px 10px black;
    -webkit-box-shadow: 0 3px 10px black;
    -moz-box-shadow: 0 3px 10px black;
    
     }
    
/* End members  */



/* End Bootstrap Edit  */