* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:poping,arial;
}
.container {
    padding: 40px;
    width: 100vw;
    height: 100vh;
    background-color: gray;
    
    
}
table {
    border: 3px solid;
    padding: 0;
    width: 80%;
    margin: 40px auto 30px;
    text-align:center; 
    font-size: 22px;
}
table th{
    background-color: red;
    padding:3px 5px;
    text-align: left;
}
table tr{
    border: 2px solid black; 
    background-color: rgba(10,155,100,.3);
}
table tr:nth-child(2n + 1){ 
    background-color: white;
}
table tr td {
    padding: 2px 5px ;
    font-size: 20px;
    width: max-content;
}

.btn {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    width: max-content;
}


.btn-primary {
    background-color: blue;
    color: white;
    font-weight: bold;
}

.btn-primary:hover {
    
    background-color:black;
}






 