* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
    border:none;
    outline: none;
    caret-color: red; 
    
}





/****Alert ************/
.alert {
    background-color: gray;
    padding: 10px;
    border-radius: 5px;
    color: white;
    animation: hide 2s linear infinite; 
 
    position: absolute;
    width: calc(100% - 120px);
    margin: 1px 30px;
    bottom: 20px;
    right: 30px;
}

.alert.error {
    background-color: red;
}
.alert.bein {
    background-color: #0bf61a87 ;
}

@keyframes hide {
   0%{ 
             opacity: 1;
    } 
70%{  
     opacity: 1;
    } 
    100%{ 
        opacity: 0;
    }
}

/*NAV BAR */
nav{
    display: flex; 
    align-items: center;
    background-color: red;
    justify-content: space-between; 
    padding: 5px 10px;
}
nav.client-pan * >a{
    color: white ;
}

nav ul {
    display: flex;
}

nav ul a,nav .logo a{
   padding:15px 10px;
    display: block;
    transition-duration: .5s;
    border-radius: 5px;
   margin:auto 3px ;
}
nav .logo a{
    font-weight: bold; 
}
nav ul a:hover {
    background-color: black;
    color: red;
}

nav .logo a:hover {
    background-color: white;
    font-weight: bold;
    color: black;
}


/*****INdex Connection */
.container {
    margin: 0 20px;
    padding: 10px;
    
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.center-v {
    margin: 2px auto; 
    text-align: center; 
}

.d-block {
    display: block;
}
.d-flex {
    display: flex;
}
.j-c-c {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.j-c-s {
    display: flex; 
    align-items: center;
    gap: 10px;
}

.list-Items{
display: flex;  
    gap: 3px;
    flex-wrap: wrap;
}

.bg-gray {
    background-color: gray;
}
 
.bg-transp {
    background-color: transparent !important;;
}
.p-0 {
    padding: 0;
}
.p-3 {
    padding: 14px  5px;
}

.m-0{
    margin: 0;
}
.m-5  {
   margin: 5px;
}
.m-15  {
   margin: 5px;
}
.m-10  {
   margin: 5px;
}

.hvr-b-r:hover {
    background-image: linear-gradient(0deg,red,black);
    color: white;
}
.hvr-w-r:hover {
    background-image: linear-gradient(20deg,red 20%,white 50%,white );
    color: black;
}
.mh-60px{
    max-height: 60px;
}
.mw-50px {
    max-height: 50px;
}

.br-t-d-r {  
    border-top: 3px  dashed gray; 
    padding-top: 5px;
    margin-top: 5px;
}

.active {
    background-color: white;
}


form{
    width: 400px;
    margin: 2px auto; 
    padding: 20px;
    background-color: gray;
    border-radius: 5px;
    border: 2px red solid;   
}

form.normal{
    width: max-content ;
    background-color:transparent;
    border: none;
    padding: 0px;
    input{
      background-color: transparent;
        padding: 10px;
        margin: 0;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
    }
    
    
}

form.mdf{
    width: 50%;
    max-width: 700px;
    min-width: 450px; 
}

form .row {
    display: flex;
    justify-content: space-between;
     padding: 12px;
    input,textarea ,select{
        width:100%;
        height: 25px;
    border-radius: 2px;
        
    }
    textarea {
        width:100%;
        height: 70px; 
    border-radius: 2px;
          resize: vertical;
        max-height: 300px;
        
    }
    label{
       width:  100px; 
        
    }
    input[type=submit] {
        font-size: 20px;
        font-weight: bold;
        padding-top: 5px;
        padding-bottom:  5px;
        height: max-content;
    }
}

.bg-transp {
    background-color: transparent;
}









/** Button a *************************/
 .btn{
        font-size: 18px;
        font-weight: bold;
     padding: 8px 15px;
        height: max-content;
     background-color: rgba(10,200,100,.3);
     border-radius: 7px;
     box-shadow: 1px 1px 10px 1px black;
    }

.btn1 {   
    font-size: 14px;
    padding: 3px 8px;
    color: white;
     box-shadow: none;
    margin:0px 5%;
    
}
.btn-mdf { 
   background-color:  rgba(35, 113, 235, 0.49);
}
.btn-dlt { 
     background-color: rgba(220,0,0,.6);
min-width:20px;
}
.left{
    position: relative;
    margin-left: 10px;   
     text-align: left;
}

.soligne {
    text-decoration:line-through black 2px ;
}


.d-b{
    display: block;
}

.fs-22 {
    font-size: 22px;
}
.fs-28 {
    font-size: 28px;
}
.fs-32 {
    font-size: 32px;
}



   .btn-p-m {
    display: flex; 
    
}
   .btn-p-m input{
    width: calc((100% / 3 ) - 20px );
    border-bottom: 6px solid red;
    margin: 0 10px 5px;
       min-width: 15px;
}
   .btn-p-m .plus,
  .btn-p-m .moin{
    background-color: black;
    color: white;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
      cursor: pointer;
      min-width: 30px;
}

.btn-p-m .inpt-val {
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    
}
  
.big-val .btn-p-m .inpt-val {
  width: 80px !important;
      
}







/***** Table *********/
table {
    margin:30px auto 20px;
    th{
        background-color: rgba(10,200,255,.4);
  width: 100vw;
        padding: 8px  ;
        border: 2px solid white;
    }
    td{ 
        border: 2px solid white;
        padding: 3px; 
        background-color: rgba(255,20,50,.5);
        padding: 5px 8px;
        
    }
    
    tr>td{
    }
    tr:nth-child(2n ){ 
        
        background-color: rgba(25,10,200,.2);
    }
    
} 
td.bg-trsnp {
    background-color: #fff;
}

input[type=range] {
  height: 26px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #50555C;
  background: #FF0000;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 8px #000000;
  border: 2px solid #000000;
  height: 18px;
  width: 30px;
  border-radius: 20px;
  background: #050404;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FF0000;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #50555C;
  background: #FF0000;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 8px #000000;
  border: 2px solid #000000;
  height: 18px;
  width: 30px;
  border-radius: 20px;
  background: #050404;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #FF0000;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 0px 0px 0px #50555C;
}
input[type=range]::-ms-fill-upper {
  background: #FF0000;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 0px 0px 0px #50555C;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 8px #000000;
  border: 2px solid #000000;
  height: 18px;
  width: 30px;
  border-radius: 20px;
  background: #050404;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #FF0000;
}
input[type=range]:focus::-ms-fill-upper {
  background: #FF0000;
}

/*** Clien  Prod**********************************/

.flex-grid{ 
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(290px ,1fr));
}

.card-prod { 
    border-radius: 10px; 
/*    width: 280px;
    height: 360px;
*/    overflow: hidden;
    position: relative; 
    background-image: linear-gradient(20deg,gray 2%,red 50%,red );

}

.card-prod:hover {
    color: white; 
}

.card-prod .img-div {
    height: 250px;
    width: 280px;
    width: 100%;
    
}
.card-prod .img-div img{
    height: 100%;
    width: 100%;
}
 
.card-prod .info ,
.card-prod .date {
    padding: 10px;
    
}

.card-prod .info { 
    margin-top: 5px; 
    border-bottom:  2px solid red;
}

.card-prod .info span {
    margin: 10px auto ;
    display: flex;
    float: right;
}
.card-prod .date {
    margin-top: 25px;
    padding: 10px ;
    display: block;  
}
.card-prod .date span { 
    display: block;
    font-size: 13px; 
    
}

.card-prod .btn-p-m {
    display: flex; 
    
}
.card-prod .btn-p-m input{
    width: calc((100% / 3 ) - 20px );
    border-bottom: 6px solid red;
    margin: 0 10px 5px;
}

.card-prod .btn-p-m .plus,
.card-prod .btn-p-m .moin{
    background-color: black;
    color: white;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}
.card-prod .btn-p-m .inpt-val {
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    width:100px !important;;
}






/**** Deateil Produit******************************/
/*


     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
     grid-gap: 40px;
*/

.view-prod   { 
 /*    display: grid;
     grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  */    
    display: flex;
    gap: 20px;
    justify-content: center;  
  
}
@media (max-width:560px ) {
    
.view-prod   { 
    flex-direction: column;
    gap: 30px !important;;
}
}
  

.view-prod .info,
.view-prod .img-div { 
 width: 50%;
    max-height:50%;
    height: 50%;
}

.view-prod .img-div img {  
    width: 100%;
    max-width: 450px;
    min-width: 310px;
}

@media (max-width:650px ) {
    
.view-prod   { 
    flex-direction: column;
}
    
.view-prod .info,
.view-prod .img-div { 
 width: 100% ;
}
}
  

.view-prod :last-child {
    margin-bottom: 10px;
}

/*
.view-prod .info ,
.view-prod .img-div {   
    width: 50%;
}*/
.view-prod .info .titre_remis {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    font-weight: bold;
    font-size: 22px; 
}

.view-prod .info .titre_remis :last-child{
    font-weight:normal  ;
    font-size: 18px;  
    background-color: green;
    padding: 2px 8px;
    border-radius: 6px;
}
 
.view-prod  .info .dispcpt {
    margin: 20px auto;
    padding: 20px 0;
    border: 3px  dashed gray;
    border-left: none;
    border-right: none;
}



.view-prod  .info .prix_reduc {
    display: flex; 
    gap: 15px;
    
}

.view-prod  .info .dispcpt { 
    display: flex;
    flex-wrap: wrap;
    
}


.view-prod .info .prix_reduc span {
    background-color: red; 
    border-radius: 5px;
    padding: 5px 8px;
font-size: 19px;
    font-weight: bold;
    color: white;
    width: max-content;
    height: max-content;
}

.view-prod .info .prix_reduc span:last-child  {
    background-color: green; 
    
}

.view-prod .info .btn-mdf {
    width: max-content;
}

@media (max-width:560px){
    
.view-prod .info .btns { 
 margin: 10px auto !important;;
}

} 


    .view-prod  .btn-p-m {
    display: flex; 
        width: 280px; 
}
.view-prod  .btn-p-m input{
    width: calc((100% / 3 ) - 20px );
    border-bottom: 6px solid red;
    margin: 0  10px 10px 0px;
    background-color: white;
    color: black;
    border:2px solid black;
        
}
.view-prod  .btn-p-m .plus,
.view-prod  .btn-p-m .moin{ 
    font-size: 30px;
    line-height: 20px; 
}

.view-prod  .btn-p-m .plus:hover,
.view-prod  .btn-p-m .moin:hover{  
    background-image: linear-gradient(-45deg,rgba(250,0,0,.7) 40%, black);
    color: white;
}



.view-prod .btn-p-m .inpt-val {
    font-size: 25px;
    text-align: center;
    border-radius: 5px; 
    width: 100px !important;
}
  
.counter  form   input{
     width: calc((100% / 4 ) - 25px ) !important;; 
    height: 60px !important;
    padding: 0 !important; 
    border-radius: 5px;
    cursor: pointer; 
}

            
.counter form input:last-child{
    font-size: 12px;   
    font-weight: bold;
}

 
.counter  form {
    width: 100%;
    border: none;
    padding: 5px;
    margin: 0 auto; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

td.line { 
    min-width: max-content; 
}

